body {
    text-align: center;
    background-image: url(images/website_background.jpg);
}

h1 {
    text-align: center;
    font-family: mainFont;
}

section {
    text-align: center;
    float: inherit;
    width: 384px;
    display: inline-block;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: solid;
    border-top-color: inherit;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
}

p {
    font-family: pFont;
}

#Label1 {
    font-family: mainFont;
    font-size: xx-large;
    font-style: italic;
}

@font-face {
    font-family: mainFont;
    src: url(fonts/bebas_neue/BebasNeue.otf);
}

@font-face {
    font-family: pFont;
    
    src: url(fonts/gravity/Gravity-Book.otf);
        

    /*
    src: url(fonts/bebas_neue/BebasNeue.otf);
        */
}

.output {
    /*
    border: solid 1px;
    margin-top: 5%;
        */
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.input {
    margin: 1%;
    padding: 5px;
}

#inputDiv {
    text-align: center;
}

#Button1 {
    margin-left: 20px;
    
}

#form1 {
    vertical-align:middle;
    padding-top: 10%;
}

#TextBox1 {
    /*
    //border: solid;
    //margin: 5%;
    //padding: 10px;
        */
}